<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	        http://xmlns.jcp.org.xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<!--主注册DispatcherServlet-->
<servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--关联一个SpringMVC的配置文件-->
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/springmvc.xml</param-value>
<!--        <param-value>classpath:WEB-INF/springmvc.xml</param-value>-->
    </init-param>
    <!--服务器启动的时候就启动-->
    <load-on-startup>1</load-on-startup>
</servlet>
        <!--
            /  匹配所有的请求  不包括.jsp
            /*  匹配所有的请求  包括.jsp
        -->
<servlet-mapping>
<servlet-name>DispatcherServlet</servlet-name>
<url-pattern>/</url-pattern>
</servlet-mapping>
</web-app>
