<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.itcast.controller"/>
    <!--
        把Controller交给spring管理
        id是Controller的访问路径
        web.xml中配置的入口是*.do
        id要以.do结尾，才能进入springmvc框架
    -->
    <bean id="/hello.do" class="cn.itcast.controller.HelloController"/>


    <!--配置视图解析器-->
    <!--
        例如：prefix /WEB-INF/jsp/    suffix  .jsp   viewname  hello
        解析到  /WEB-INF/jsp/hello.jsp
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>